:host {
  display: block;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  background: #f7f9fc;
}

main.with-sidebar {
  margin-left: 260px;
}

@media (max-width: 768px) {
  main.with-sidebar {
    margin-left: 0;
  }
}